[submodule "sm-medic"]
	path = sm-medic
	url = git@github.com:marqdevx/sm-medic.git
[submodule "sm-cfgLauncher"]
	path = sm-cfgLauncher
	url = git@github.com:marqdevx/sm-cfgLauncher.git
[submodule "csgo-sounds"]
	path = csgo-sounds
	url = git@github.com:marqdevx/csgo-sounds.git
